# Node.js related
node_modules/
npm-debug.log

# Cypress related
cypress/screenshots/
cypress/videos/
cypress/results/

# Temp file related
cypress/fixtures/temp*.json

# IDE specific
.idea/
.vscode/
*.iml
*.log
.DS_Store
